PORT=5000
MONGODB_URI=mongodb://localhost:27017/crowdwatch
JWT_SECRET=16hb6vAKbMOkmiq2OtBs9Gshmew6QNG5/pyicoB454XBgmMa92DLVz+YQ3fUWyjjHZZXYaBn3+BSOVvLQ5l6vg==
SUPABASE_URL=https://wcgitvkymztlxtwcddyx.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndjZ2l0dmt5bXp0bHh0d2NkZHl4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUyODIwOTAsImV4cCI6MjA5MDg1ODA5MH0.sUTMbtGZOlJtPzrkqHTJIL-At0cB_Ez5gMOF9DWlA2g
ML_SERVICE_URL=http://localhost:8000
ADMIN_SECRET=CROWDWATCH_ADMIN_2024
